<section>
    <href href="/post/{{post.id}}">
    <header>{{post.title}}</header></href>
    <p class="" id={{post.id}}>{{post.content}}</p>
</section>
<div>
<label for="comment-space">Comments:</label>
<textarea class="new-comment" name="comment" id="comment" cols="30" rows="10" placeholder="add comment..."></textarea>
</div>
<div>
<button id="sub-btn" type="submit">submit</button>
</div>
<section>
{{#each comment.content as |comment|}}
{{> comment-details}}
{{!-- display all comments from partials --}}
{{/each}}
</section>

<script src="/public/js/comment.js"></script>