<section>
    <href href="/post/{{post.id}}">
    <header>{{post.title}}</header></href>
    <p id={{post.id}}>{{post.content}}</p>
</section>
<textarea name="comment" id="comment" cols="30" rows="10" placeholder="add comment..."></textarea>
<button id="btn">submit</button>