<section>
    <href href="/post/{{post.id}}">
    <header>{{post.title}}</header></href>
    <p class="" id={{post.id}}>{{post.content}}</p>
</section>
<textarea name="comment" id="comment" cols="30" rows="10" placeholder="add comment..."></textarea>
<button id="sub-btn">submit</button>

<script src="./js/comment.js"></script>